 @font-face {
   font-family: 'BebasNeue';
   src: url(font/bebas_neue/BebasNeue-Regular.woff);
 }

 html, body, .container {
  height: 100%;
	width: 100%;
  // background: lightyellow;
}

.content-up {
  // background-color: lightcoral;
	height: 20%;
}

.content-center {
    //background-color: lightgreen;
		height: 75%;
}

#min {
	position:relative;
}
